body{
 background-color: cornflowerblue
   
    
}
#intro{
    background-image: url(/imagens/laptop-gcd41643eb_1280.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
nav{
    display: flex;
    height: 80px;
    width: 100%;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}
.logo{
    width: 10%;
}


nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

nav ul li{
margin: 0 5px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 700;
    padding: 8px 15px ;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
     
}

li:nth-child(5) > a:nth-child(2) {
   border: 1px solid #edc065;
   border-radius: 0;
   
}
li:nth-child(5) > a:nth-child(1) {
  
    border: 1px solid;
    border-radius: 0;
}
li:nth-child(5) > a:nth-child(1):hover {
    color: #000;
    background-color: #fff;
   }

nav ul li a.active,
nav ul li a:hover{

}

nav .menu-btn i{
    color: #fff;
    cursor: pointer;
    display: none;
}

@keyframes rotate{
    0% {
        transform: perspective(1000px) rotateY(0deg);
    }

    100% {
        transform: perspective(1000px) rotateY(360deg);
    }
}

#box span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
    -webkit-box-reflect: below 0px linear-gradient(transparent, transparent, #0004);
}

#box span img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav h2{
    font-family: sans-serif;
    font-weight: 1000;
    letter-spacing: 7px;
    font-size: 40px;
}

nav h2 span{
    color: #edc065;
}

.txt{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50);
}
.intronome{
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
}
.txt h4{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 1.6rem;
}
.txt h1{
    font-family: sans-serif;
    font-weight: 900;
    font-size: 70px;
    
   
}
.txt h3{
    font-family: sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 50px;
}
.txt h1 span{
    color: #edc065;
}

.container-btn form {
    width: 380px;
    max-width: 100%;
    position: relative;

}
.container-btn form input:nth-child(1){
display: inline-block;
width: 100%;
padding: 14px 130px 14px 15px;
border-radius: 30px;
outline: none;
}
.container-btn form input:nth-child(2){
    position: absolute;
    display: inline-block;
    outline: none;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    background-color: #edc065;
    color: #fff;
    box-shadow: 0px 0px 15px #858585; 
    right: 6px;
    top: 6px;

}


.main-sobre{}

.back-color-sobre{
    background-color: #191919;
    width: 100%;
    padding: 100px 100px;
}
.back-color-sobre img{
    width: 440px;
    height: auto;
}
.texto-sobre{
    width: 550px;
}
.main-sobre{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1130px;
    margin: auto 0;
}

.texto-sobre h2{
    color: #fff;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 70px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.texto-sobre h5{
color: #fff;
font-family: sans-serif;
letter-spacing: 2px;
font-weight: 500;
font-size: 20px;
margin-bottom: 25px;
}
.texto-sobre p{
    font-family: sans-serif;
    color: #fff;
    line-height: 28px;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 45px;
}
.texto-sobre button{
 background-color: #edc065;  
  color: #fff;
  text-transform: none;
  border: 2px solid transparent;
  border-radius: 30px;
  padding: 15px 20px;
  font-weight: bold;
  transition: .4s;
}

.texto-sobre button:hover{
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #edc065;
}

.socias{
    display: flex;
    justify-content: space-between;
   max-width: 100%;
   position: absolute;

}

.socias a{
    color: black;
}
.socias a:hover{
    color: #edc065;
}
.fa-brands{
    padding: 13px;
 }















@media(max-width: 768px){
    nav .menu-btn i{
        display: block;
       
    }
    
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #fff;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
        z-index: 9;
        
    }
    
    li:nth-child(5) > a:nth-child(2) {
        border: 1px solid #edc065;
        border-radius: 0;
        
    }
    nav ul.open{
        left: 0;
        
    }
    
    nav ul li{
        width: 100%;
        margin: 50px 0;
        
    }
    
    nav ul li a{
        font-size: 15px;
        border: 1px solid #fff;
        border-radius: 15px;
        
    }
    nav ul li a.active,
    nav ul li a:hover{
    background: none;
    color: #edc065;
    
    }
    .logo{
        width: 90%;
    }
    nav ul li a{
        border: none;
    }

    nav h2{
        font-family: sans-serif;
        letter-spacing: 2px;
        position: relative;
        right: 18%;
    }
}
